---
import WhiskiesWrapperReact from "../../../../components/WhiskyCard/WhiskiesWrapperReact";
import Layout from "../../../../layouts/Layout.astro";
import OriginsHero from "../../../../components/OriginsHero/OriginsHero.astro";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
      query whiskeyOriginsQuery {
        whiskeyOrigins(first: 999999) {
                nodes {
                    name
                    slug
                    uri
                    whiskyOriginContent {
                    originHero {
                      sourceUrl
                    }
                  }
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();
  const origins = data?.whiskeyOrigins?.nodes;

  return origins.map((origin, index) => {
    return {
      params: { slug: origin.slug },
      props: {
        name: origin.name,
        uri: origin.uri,
        slug: origin.slug,
        data: origin,
        next: index === 0 ? null : origins[index - 1].slug,
        prev: index === origins.length - 1 ? null : origins[index + 1].slug,
      },
    };
  });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query whiskies {
      whiskies(first: 999999, where: {taxQuery: {relation: AND, taxArray: {terms: "${Astro.params["slug"]}", taxonomy: WHISKEYORIGIN, operator: IN, field: SLUG}}}) {
        nodes {
            title
            slug
            uri
            whiskyContent {
              featuredImage {
                altText
                sourceUrl
              }
            }
            whiskeyOrigins {
              nodes {
                slug
                name
              }
            }
            whiskeyRegions {
              nodes {
                slug
                name
              }
            }
            whiskyTypes {
              nodes {
                slug
                name
              }
            
          }
        }
      }
    }
        
    `,
  }),
});

const { data } = await response.json();

const whiskies = data?.whiskies?.nodes ? data?.whiskies?.nodes : [];
---

<Layout title={Astro.props["name"]}>
  <OriginsHero data={Astro.props.data} />
  <WhiskiesWrapperReact
    client:only="react"
    whiskies={whiskies}
    baseSlug="/whiskies"
  />

  <div>
    <a href="/whiskies/origins/">Back to Origins List</a>
  </div>
</Layout>
