@use "../../style/abstracts" as *;
@use "../../style/global/paragraphs";

.post-card {
  margin-bottom: 3rem;
  background-color: $whiteColor;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-image {
    width: calc(100%);
    @media (min-width: 768px) {
      width: calc(25%);
    }
  }

  &-content {
    position: relative;
    width: calc(100%);
    padding: 4.5rem;

    @media (min-width: 768px) {
      width: calc(75%);
    }

    &-header {
      max-width: 100%;

      @media (min-width: 768px) {
        width: calc(70%);
      }
    }

    a {
      @extend .p-one;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
      color: $accentColor;

      &:hover {
        color: $secondaryColor;
      }
    }

    &-date {
      padding-top: 2rem;
      border-top: 0.2rem solid $creamColor;

      p {
        text-transform: uppercase;
      }
    }
  }

  .post-header {
    color: $secondaryColor;
    text-transform: uppercase;

    span {
      display: block;
    }
  }
}
