@use "../../style/abstracts";
@use "../../style/global/paragraphs";

.wysiwyg-content {
  width: 100%;
  padding-top: 2.5rem;
  background-color: abstracts.$creamColor;

  &-main {
    width: 100%;

    p {
      @extend .p-one;
    }
  }

  &.background-black {
    background-color: abstracts.$primaryColor;

    .wysiwyg-content-main {
      p {
        color: abstracts.$whiteColor;
      }
    }
  }
}
