---
import { Image } from "astro:assets";
import "./contentImageFullWidth.scss";
const { data } = Astro.props;
---

<div class="content-img-full">
  <div class="content-img-full-wrap">
    <div class="content-img-full-content" set:html={data.mainContent} />
    <div class="content-img-full-image">
      <div class="content-img-full-image-wrap">
        <Image src={data.sideImage.sourceUrl} alt="" width="750" height="750" />
        <div class="content-img-full-image-icon">
          <Image
            src={data.middleIcon.sourceUrl}
            alt=""
            width="750"
            height="750"
          />
        </div>
      </div>
    </div>
  </div>
</div>
