@use "../abstracts/colors";

.main-navigation {
  width: 75%;
  align-self: flex-start;
  padding: 3rem;
  background-color: colors.$creamColor;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0 0.5rem;

    a {
      padding: 0.5rem 2rem;
      text-transform: uppercase;
      color: #333333;
      font-weight: 600;

      &:hover {
        color: colors.$accentColor;
      }
    }

    &.cta {
      a {
        color: colors.$whiteColor;
      }
    }
  }
}
