---
import { Image } from "astro:assets";
import "./heroV2.scss";

const { data } = Astro.props;
---

<div class="herov2">
  <div class="herov2-wrap wrap-med">
    <div class="herov2-title">
      <h1 class="hl-one">{data.title}</h1>
    </div>
    <div class="herov2-image">
      <div class="herov2-image-wrap">
        <Image
          src={data.heroImage.sourceUrl}
          alt=""
          width="2500"
          height="2500"
        />
      </div>
    </div>
  </div>
</div>
