@use "../../style/abstracts";

.herov2 {
  position: relative;
  width: 100%;
  padding-top: 15rem;
  background-color: abstracts.$creamColor;

  &-title {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      top: 4rem;
      right: 2rem;
      left: 2rem;
      height: 0.2rem;
      background-color: abstracts.$secondaryColor;
      content: "";
    }
  }

  &-image {
    position: relative;
    width: 100%;
    height: 20rem;
    border-left: 0.2rem solid abstracts.$secondaryColor;

    @media (min-width: 768px) {
      height: 45rem;
    }

    @media (min-width: 1025px) {
      height: 55.6rem;
    }

    &-wrap {
      position: absolute;
      height: 100%;
      top: 0;
      right: 4rem;
      left: 4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.herov2-title-element {
  position: relative;
  width: 18rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  background-color: abstracts.$creamColor;
  z-index: 10;
}
