---
import { Image } from "astro:assets";
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./hero.scss";

const { data } = Astro.props;
---

<div class="herov2">
  <Wrapper wrapType="med">
    <div class="herov2-title">
      <Headline modifier="herov2-title-element" hlstyle="one" ele="h1"
        >{data.title}</Headline
      >
    </div>
    <div class="herov2-image">
      <div class="herov2-image-wrap">
        <Image
          src={data.heroImage.sourceUrl}
          alt=""
          width="2500"
          height="1250"
          loading="eager"
        />
      </div>
    </div>
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const tigger = document.querySelector(".herov2");
  const quote = document.querySelector(".herov2-title h1");

  if (tigger && quote) {
    gsap
      .timeline({
        scrollTrigger: {
          trigger: tigger,
          markers: false,
          start: "top 40%",
          scrub: false,
        },
      })
      .fromTo(
        quote,
        { autoAlpha: 0, x: 100 },
        { autoAlpha: 1, ease: "power2.out", duration: 1.5, x: 0 },
      );
  }
</script>
