---
import Layout from "../../../layouts/Layout.astro";
import WhiskyCard from "../../../components/WhiskyCard/WhiskyCard.astro";
import Wrapper from "../../../components/shared/Wrapper.astro";
import WhiskiesWrapper from "../../../components/WhiskyCard/WhiskiesWrapper.astro";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
      query whiskeyOriginsQuery {
        whiskeyOrigins(first: 999999) {
                nodes {
                    name
                    slug
                    uri
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();

  const origins = data?.whiskeyOrigins?.nodes;

  return origins.map((origin, index) => {
    return {
      params: { slug: origin.slug },
      props: {
        name: origin.name,
        uri: origin.uri,
        next: index === 0 ? null : origins[index - 1].slug,
        prev: index === origins.length - 1 ? null : origins[index + 1].slug,
      },
    };
  });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query PageQuery($uri: String!) {
      nodeByUri(uri: $uri) {
        ... on WhiskeyOrigin {
          id
          name
          whiskies {
            nodes {
              title
              slug
              uri
              whiskyContent {
                featuredImage {
                  altText
                  sourceUrl
                }
              }
              whiskeyOrigins {
                nodes {
                  slug
                  name
                }
              }
              whiskeyRegions {
                nodes {
                  slug
                  name
                }
              }
              whiskyTypes {
                nodes {
                  slug
                  name
                }
              }
            }
          }
        }
      }
    }
        
    `,
    variables: {
      uri: Astro.props["uri"],
    },
  }),
});

const { data } = await response.json();
const {
  whiskies: { nodes: whiskies },
} = data.nodeByUri;
---

<Layout>
  <div>
    <h1>Whisky Origins - {Astro.props.name}</h1>
    <WhiskiesWrapper whiskies={whiskies} baseSlug="/whiskies" />
  </div>
</Layout>

<style>
  div {
    padding-top: 20rem;
  }
</style>
