---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./whiskeyImage.scss";

console.log("Astro", Astro.props);
---

<div class="single-whiskey-image">
  <Wrapper>
    <div class="single-whiskey-image-wrapper">
      <Image
        src={Astro.props.imgSrc}
        alt={Astro.props.imgAlt}
        width="750"
        height="1000"
      />
    </div>
  </Wrapper>
</div>
