@use "../../style/global/paragraphs";
.single-whiskey-image {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-container {
    width: calc(30%);
  }

  &-description {
    width: calc(70%);
    padding: 0 4rem;

    p {
      @extend .p-one;
    }
  }
}
