---
import { Image } from "astro:assets";
import "./wysiwygContentSideLogo.scss";
const { data } = Astro.props;
---

<div class="wysiwyg-side">
  <div class="wrap-med wysiwyg-side-wrap">
    <div class="wysiwyg-side-logo">
      <div class="wysiwyg-side-logo-wrap">
        <Image src={data.imageLogo.sourceUrl} alt="" width="750" height="750" />
      </div>
    </div>
    <div class="wysiwyg-side-content" set:html={data.wysiwygContent} />
  </div>
</div>
