---
import { Image } from "astro:assets";
import "./heroV3.scss";
const { data } = Astro.props;
console.log("heroV3", data);
---

<div class="hero-component">
  <div class="hero-content">
    <div class="hero-content-title">
      <h1 class="hl-three hl-white">{data.heroTitleTop}</h1>
      <h3 class="hl-three hl-white">{data.heroTitleBottom}</h3>
    </div>
  </div>
  <div class="hero-image">
    <Image
      src={data.heroImage.sourceUrl}
      alt="The Repo Room"
      width={2500}
      height={2500}
    />
  </div>
</div>
