@use "../../style/abstracts/colors";

.herov3 {
  position: relative;
  width: 100%;
  height: 55rem;

  @media (min-width: 768px) {
    height: 65rem;
  }

  @media (min-width: 1025px) {
    height: 60vw;
  }

  .herov3-content {
    position: absolute;
    top: 25rem;
    left: 0;
    width: 100%;
    max-width: 75rem;
    padding: 4rem 8rem;
    background-color: rgba(colors.$secondaryColor, 0.87);
    z-index: 10;

    .herov3-content-title {
      h1,
      h3 {
        margin: 0;
        text-transform: uppercase;
      }

      h1 {
        margin-bottom: 2rem;
      }
    }
  }

  .herov3-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
