---
import { Image } from "astro:assets";
import "./heroV3.scss";
const { data } = Astro.props;
---

<div class="herov3">
  <div class="herov3-content">
    <div class="herov3-content-title">
      <h1 class="hl-one hl-white">{data.heroTitleTop}</h1>
      <h3 class="hl-three hl-white">{data.heroTitleBottom}</h3>
    </div>
  </div>
  <div class="herov3-image">
    <Image
      src={data.heroImage.sourceUrl}
      alt="The Repo Room"
      width={2500}
      height={2500}
    />
  </div>
</div>
