---
import "./mainArticle.scss";
import Wrappper from "../../shared/Wrapper.astro";
import Wysiwyg from "../../shared/Wysiwyg.astro";
const { data } = Astro.props;
---

<div>
  <Wrappper>
    <Wysiwyg>
      <div set:html={data.postsComponents.mainArticle} />
    </Wysiwyg>
  </Wrappper>
</div>
