---
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import "./originMainTitle.scss";
const { title } = Astro.props;
---

<div class="origin-main-title">
  <Wrapper>
    <div>
      <Headline tag="h3" hlstyle="three">{title}</Headline>
    </div>
  </Wrapper>
</div>
