@use "../../style/abstracts/colors" as *;
@use "../../style/global/paragraphs";

.menu-item {
  position: relative;
  width: 100%;

  .sub-wrap {
    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 7.5rem;
      height: 100%;
      background-color: transparent;
      font-size: 3rem;
      font-weight: bold;
      color: $accentColor;
      border: none;
      border-radius: 0 !important;
      line-height: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .subContainer {
    width: 100%;
    height: 100%;
  }

  a {
    @extend .p-one;
    display: block;
    width: 100%;
    padding: 2rem;
    text-transform: uppercase;

    &:hover {
      color: $accentColor;
      background-color: $whiteColor;
    }

    &[aria-current="page"] {
      color: $accentColor;
      background-color: $whiteColor;

      &:hover {
        cursor: default;
      }
    }
  }
}
