@use "../../style/abstracts/colors" as *;
@use "../../style/global/paragraphs";

.menu-sub-item {
  width: 100%;
  padding-left: 5rem;
  border: none !important;
  text-align: left;

  a {
    @extend .p-one;
    padding: 1rem 2rem !important;
    color: $shadowColor;
    font-weight: bold;
  }
}
