---
import Hero from "../components/Hero.astro";
import ReviewSlider from "../components/ReviewSlider/ReviewSlider.jsx";
const { blocks, reviews } = Astro.props;
---

{
  blocks.map((block) => {
    switch (block.fieldGroupName) {
      case "Page_Pagecomponents_Components_Hero":
        return <Hero data={block} />;

      case "Page_Pagecomponents_Components_ReviewSlider":
        return <ReviewSlider client:load data={block} reviews={reviews} />;
      default:
        return (
          <div>
            <p>Sorry cannot find this component -- {block.fieldGroupName}</p>
          </div>
        );
    }
  })
}
