@use "../../style/abstracts";

.latest-posts {
  background-color: abstracts.$primaryColor;
  padding-top: 2.5rem;
  padding-bottom: 15rem;

  &-title {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }

  &-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
