---
import "./intro.scss";
import Wrappper from "../../shared/Wrapper.astro";
import Headline from "../../shared/Headline.astro";
import { Image } from "astro:assets";
const { data } = Astro.props;
---

<div class="post-intro">
  <Wrappper wrapType="med" classes="post-intro-wrapper">
    <div class="post-intro-featured">
      <div class="post-intro-featured-image">
        <Image
          src={data.postsComponents.featuredImage.sourceUrl}
          alt={data.postsComponents.featuredImage.altText}
          width="750"
          height="1000"
        />
      </div>
    </div>
    <div class="post-intro-header">
      <Headline ele="h1" hlstyle="three" classes="post-intro-header-title"
        >{data.title}</Headline
      >
      <div
        set:html={data.postsComponents.introQuote}
        class="post-intro-header-description"
      />
    </div>
  </Wrappper>
</div>
