@use "../../../style/abstracts" as *;
@use "../../../style/global/paragraphs";

.post-intro {
  &-wrapper {
    padding-top: 0;
  }

  &-featured {
    width: calc(100%);
    @media (min-width: 768px) {
      width: calc(33.333333%);
    }
  }

  &-header {
    width: calc(100%);
    @media (min-width: 768px) {
      width: calc(66.666666%);
    }
    padding: 4.3rem;

    &-title {
      width: 100%;
      color: $secondaryColor;
      text-transform: uppercase;

      span {
        display: block;
      }
    }

    &-description {
      width: 100%;

      p {
        @extend .p-one;
      }
    }
  }
}
