---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import BlockRenderer from "../Renderers/BlockRenderer.astro";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
          query allPages {
            pages(first: 9999999) {
              nodes {
                uri
              }
            }
          }
      `,
    }),
  });

  const { data } = await response.json();
  return data.pages.nodes.map((page) => {
    return {
      params: { slug: page.uri === "/" ? undefined : page.uri },
      props: { trevor: "rounce" },
    };
  });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query PageQuery($uri: String!) {
      nodeByUri(uri: $uri) {
        ... on Page {
          id
          slug
          title
          pageComponents {
            components {
              ... on Page_Pagecomponents_Components_Hero {
                fieldGroupName
                heroContent {
                  boxColour
                  fieldGroupName
                  title
                  button {
                    buttonText
                    buttonType
                    buttonUrl
                    pageLink {
                      ... on Page {
                        id
                        link
                      }
                    }
                  }
                }
                heroImage {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_SearchWhiskies {
                displayWhiskiesSearch
                fieldGroupName
              }

              ... on Page_Pagecomponents_Components_WysiwygContent {
                fieldGroupName
                mainContent
              }

              ... on Page_Pagecomponents_Components_ReviewSlider {
                displayReviewSlider
                fieldGroupName
              }



            }
          }
        }
      }
    }
  `,
    variables: {
      uri: Astro.params["slug"] || "/",
    },
  }),
});

const { data } = await response.json();
const blocks = data.nodeByUri.pageComponents.components;

console.log("blocks", blocks);
---

<Layout title="Welcome to Astro.">
  <main>
    <BlockRenderer blocks={blocks} />
  </main>
</Layout>
