---
import WhiskyCard from "./WhiskyCard.astro";
import Wrapper from "../shared/Wrapper.astro";

const { whiskies, baseSlug } = Astro.props;
---

<div class="whiskies">
  <Wrapper>
    {
      whiskies?.map((whisky) => {
        return <WhiskyCard whisky={whisky} baseSlug={baseSlug} />;
      })
    }
  </Wrapper>
</div>
