---
import { replaceUrls } from "../utils/replaceUrls";
const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query MainMenuQuery {
        mainMenu {
            mainMenu {
                menuItems {
                    menuItem {
                        label
                        destination {
                            ... on Page {
    
                                link
                            }
                        }
                    }
                }
            }
        }
    }
  `,
  }),
});

const { data } = await response.json();
const { menuItems } = data.mainMenu.mainMenu;
console.log("Astro", Astro.url);
---

<nav>
  <ul>
    {
      menuItems.map(({ menuItem }) => {
        const href = replaceUrls(menuItem.destination.link, Astro.url.origin);
        console.log("href", href);

        return (
          <li>
            <a href={href}>{menuItem.label}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style lang="scss">
  li {
    a {
      color: red;
    }
  }
</style>
