---
const { data, reviews } = Astro.props;
import ReviewCard from "./ReviewCard.astro";
import Wrapper from "../shared/Wrapper.astro";
---

<div class="reviews">
  <Wrapper wrapType="med">
    {
      reviews.map((review) => {
        return <ReviewCard review={review} />;
      })
    }
  </Wrapper>
</div>

<style lang="scss">
  @use "../../style/abstracts/colors";

  .reviews {
    background-color: colors.$creamColor;
  }
</style>
