---
const { data, reviews } = Astro.props;
import "./displayReviews.scss";
import ReviewCard from "./ReviewCard.astro";
import Wrapper from "../shared/Wrapper.astro";
---

<div class="reviews">
  <Wrapper wrapType="med">
    {
      reviews.map((review) => {
        return <ReviewCard review={review} />;
      })
    }
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  console.log(gsap);
</script>
