@use "../../style/abstracts";

.slide-section {
  background-color: abstracts.$greyBrownColor;
  overflow: hidden;
  .slide-wrap {
    width: 100%;
    flex-wrap: wrap;
    display: flex;

    .slider-title {
      display: flex;
      width: 100%;
      margin-bottom: 5rem;
      text-transform: uppercase;

      @media (min-width: 768px) {
        width: 20%;
        padding-left: 5rem;
      }

      &__content {
        position: relative;
        width: 100%;
        padding-top: 5rem;
        text-align: center;

        @media (min-width: 768px) {
          text-align: right;
          padding-top: 0;
          padding-bottom: 15rem;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }

        &::before,
        &::after {
          position: absolute;
          left: 0rem;
          width: 10rem;
          height: 0.2rem;
          background-color: abstracts.$creamColor;
          content: "";
        }

        &::before {
          display: none;
          top: 100%;
        }

        &::after {
          display: none;
        }

        @media (min-width: 768px) {
          &::before,
          &::after {
            display: block;
            left: 50%;
          }

          &::before {
            top: 90%;
            transform: rotate(90deg);
          }

          &::after {
            top: 30%;
            transform: rotate(-90deg);
          }
        }

        @media (min-width: 1025px) {
          &::before,
          &::after {
            left: 55%;
          }
        }

        @media (min-width: 1200px) {
          &::before,
          &::after {
            left: 60%;
          }
        }

        span {
          display: block;
        }
      }
    }

    .slider {
      width: 100%;
      margin-bottom: 2rem;

      @media (min-width: 768px) {
        width: 80%;
        margin-bottom: 0;
      }

      .slick-arrow {
        top: 90%;

        @media (min-width: 768px) {
          top: 77.5%;
        }

        &.slick-prev {
          left: calc(50% - 3rem);

          @media (min-width: 768px) {
            left: -13rem;
          }

          @media (min-width: 1025px) {
            left: -22rem;
          }

          &::before {
            font-size: 7rem;
            font-family: "Montserrat", sans-serif;
            content: "\2039";
          }
        }

        &.slick-next {
          left: calc(50% + 1rem);

          @media (min-width: 768px) {
            left: -10rem;
          }

          @media (min-width: 1025px) {
            left: -18rem;
          }

          &::before {
            font-size: 7rem;
            font-family: "Montserrat", sans-serif;
            content: "\203A";
          }
        }
      }

      .slick-slide {
        display: flex;
        flex-wrap: wrap;
        padding: 5rem 0;

        div {
          width: 100%;
        }

        .slide-img {
          position: relative;
          width: 100%;
          height: 50rem;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .slide-title {
          width: 100%;
          padding: 4rem 1rem;
          text-align: center;

          h3 {
            max-width: 25rem;
            margin: 1rem auto;
            font-weight: 600;
          }
        }
      }
    }
  }
}
