@use "../../style/abstracts";

.slide-section {
  background-color: abstracts.$greyBrownColor;
  overflow: hidden;
  .slide-wrap {
    width: 100%;
    flex-wrap: wrap;
    display: flex;

    .slider-title {
      display: flex;
      width: 100%;
      margin-bottom: 5rem;

      @media (min-width: 768px) {
        width: 20%;
        padding-left: 5rem;
      }

      &__content {
        position: relative;
        width: 100%;
        text-align: center;

        @media (min-width: 768px) {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }

        &::before,
        &::after {
          position: absolute;
          left: 0rem;
          width: 100%;
          height: 0.25rem;
          background-color: abstracts.$creamColor;
          content: "";
        }

        &::before {
          top: 100%;
        }

        &::after {
          display: none;
        }

        @media (min-width: 768px) {
          &::before,
          &::after {
            left: 8rem;
          }

          &::before {
            top: 80%;
            transform: rotate(90deg);
          }

          &::after {
            top: 20%;
            transform: rotate(-90deg);
          }
        }

        span {
          display: block;
        }
      }
    }

    .mySwiper {
      width: 100%;

      @media (min-width: 768px) {
        width: 80%;
      }

      .swiper-wrapper {
        display: flex;
        align-items: flex-start;
      }

      .swiper-slide {
        display: flex;
        flex-wrap: wrap;

        .slide-img {
          position: relative;
          width: 100%;
          height: 50vw;
          margin: 1rem 20rem;

          @media (min-width: 768px) {
            margin: 1rem 5rem;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .slide-title {
          width: 100%;
          padding: 4rem 1rem;
          text-align: center;

          h3 {
            font-weight: 600;
          }
        }
      }
    }
  }
}
