---
import { Image } from "astro:assets";
import Navigation from "../components/Navigation.astro";
import "../style/layouts/header.scss";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
      query MainLogoQuery {
          acfOptionsSiteWideSettings {
          siteWideSettings {
            mainLogo {
              uri
              sourceUrl(size: _2048X2048)
          }
        }
      }
    }
  `,
  }),
});

const { data } = await response.json();
---

<header>
  <div class="wrap-med head-wrapper">
    <div class="main-logo">
      <div class="main-logo__wrap">
        <a href={Astro.url.origin}>
          <Image
            src={data.acfOptionsSiteWideSettings.siteWideSettings.mainLogo
              .sourceUrl}
            alt=""
            width={400}
            height={400}
          />
        </a>
      </div>
      <div class="main-logo__graphic"></div>
    </div>
    <Navigation />
  </div>
</header>
