---
import { Image } from "astro:assets";
import "./heroQuote.scss";
const { data } = Astro.props;
---

<div class="heroQuote">
  <div class="heroQuote-content">
    <div class="heroQuote-content-title">
      <h1 class="hl-one hl-white">{data.heroQuote}</h1>
      <h3 class="hl-three hl-white">{data.heroQuoteAuthor}</h3>
    </div>
  </div>
  <div class="heroQuote-image">
    <Image
      src={data.heroImage.sourceUrl}
      alt="The Repo Room"
      width={2500}
      height={2500}
    />
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  console.log("HELLO HEROQUOTE THERE!");

  const tigger = document.querySelector(".heroQuote");
  const quote = document.querySelector(".heroQuote-content-title h1");

  gsap
    .timeline({
      scrollTrigger: {
        trigger: tigger,
        markers: false,
        start: "top 40%",
        scrub: false,
      },
    })
    .fromTo(
      quote,
      { autoAlpha: 0, x: 100 },
      { autoAlpha: 1, ease: "power2.out", duration: 1.5, x: 0 },
    );

  console.log(gsap);
</script>
