:root {
  --color-primary: #96bcc5;
  --color-secondary: #005848;
  --color-tertiary: #333333;
  --color-accent: #6c6d70;
  --color-shadow: #96bcc5;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #6c6d70;
  --font-primary: "Cabin", sans-serif;
  --font-secondary: "Cabin", sans-serif;
  --font-tertiary: "Cabin", sans-serif;
  --font-base-line-height: "1.5";
  --size-max-width: "1000px";
  --size-bp-tablet: "768px";
  --size-bl-desk-sm: "1025px";
  --size-bl-desk-md: "1200px";
  --size-bl-desk-lg: "1600px";
  --size-bl-desk-max: "1900px";
}
